.code-main {
  display: flex;
  justify-content: center;
}

.code-main__container {
  width: 85%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 767px) {
  .code-main__container {
    width: 70%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1023px) {
  .code-main__container {
  width: 50%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

.code-main__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.code-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (min-width: 767px) {
  .code-form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
  }
}

.code-input {
  height: 60px;
  width: 100%;
  font-size: 24px;
  font-family: Merriweather;
  text-align: center;
  border: 5px rgba(24, 36, 96, 1) solid;
  margin-bottom: 20px;
  border-radius: 10px;
}
