.i-main {
  display: flex;
  justify-content: center;
}

.i-main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100dvh;
}


.i-main__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.i-main__title{
    text-align: center;
    font-family: Merriweather;
}