.lb-main {
  display: flex;
  justify-content: center;
}

.lb-main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100dvh - 46px);
}

@media (min-width: 767px) {
  .lb-main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100dvh - 71px);
  }
}

.lb-main__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: auto;
}

.lb-description {
  font-family: Merriweather;
  margin: 0px;
}

.nocode {
  font-weight: 200;
  font-size: 25px;
}

.code {
  font-weight: 800;
  font-size: 35px;
}
