.name-main {
  display: flex;
  justify-content: center;
}

.name-main__container {
  width: 85%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 767px) {
  .name-main__container {
    width: 70%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1023px) {
  .name-main__container {
  width: 50%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
}

.name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (min-width: 767px) {
  .name-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}
}

.name-input {
  width: 100%;
  height: 60px;
  border: 5px rgba(24, 36, 96, 1) solid;
  border-radius: 10px;
  font-family: Merriweather;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
