.watch-main{
  display: flex;
  justify-content: center;
}

.watch-main__container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  align-items: center;
  justify-content: space-between;
}