.w-main {
  display: flex;
  justify-content: center;
}

.w-main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100dvh - 46px);
}

.w-main__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Merriweather;
  font-size: 30px;
  margin-top: auto;
}
